*{
	/*border: 1px solid red;*/
}
body{
	margin: 0;
	font-family: "Arial";
}
nav{
	width: 20em;
	left: -20em;
	height: 100%;
	position: fixed;
	background-color: #3E1B2D;
	-webkit-transition: left 0.3s ease-in-out 0s;
	-moz-transition: left 0.3s ease-in-out 0s;
	-ms-transition: left 0.3s ease-in-out 0s;
	-o-transition: left 0.3s ease-in-out 0s;
	transition: left 0.3s ease-in-out 0s;
	z-index: 10;
}

nav ul{
	list-style: none;
}

nav li{
	padding: 20px;
}

nav a{
	font-size: 18px;
	color: #fff;
}

.menu-aberto{
	left: 0;
}
.cabecalho{
	width: 100%;
	height: 75px;
	background-color: #3E1B2D;
	position: fixed;
}

.abre-menu-aberto{
	left: 20em;
	position: relative;
}

#abre-menu{
	cursor: pointer;
	margin: 20px;
			
}

.linha{
	width: 100%;
	text-align: center;
	clear: both;
}

.banner{
	width: 100%;
}

.coluna-100{
	width: 100%;
	box-sizing: border-box;
	float: left;
}

.coluna-50{
	width: 50%;
	box-sizing: border-box;
	float: left;
	padding-top: 3%;
	padding-bottom: 3%;
}

.coluna-30{
	width: 33.333%;
	box-sizing: border-box;
	float: left;
}

.texto-padrao{
	font-size: 14px;
	padding: 100px;
}

#itens p{
	padding: 0px 25px;
}

#footer div{
	background-color: #3E1B2D;
}

.icones{
	text-align: center;
	margin: 0;
	list-style: none;
}

.icones li{
	display: inline-block;
	padding: 20px 50px;
}
